.breadcrumbs {
  padding-top: 12px;
  margin-bottom: 30px;
}

.breadcrumbs__link {
  color: #000;
  padding-bottom: 2px;
  margin-right: 20px;
  border-bottom: 1px solid @blue;
  
  &:hover,
  &:active {
    border-bottom: 1px dotted @blue;
  }
  
  &--arrow {
    padding-left: 30px;
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 22px;
      height: 9px;
      background-image: url(../img/icon-back.svg);
      background-repeat: no-repeat
    }
  }
  
  &--active {
    border-bottom: none;

    &:hover,
    &:active {
      border-bottom: none;
    }
  }
}