.catalog {
  margin-bottom: 67px;
  
  &--main {
    margin-bottom: 23px;
  }
}

.catalog__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 45px 90px 48px 30px;
  background-image: url(../img/bg-main-blue.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog__link {
  display: block;
  color: #fff;
  font-size: 19px;
  line-height: 40px;
  font-family: "Open Sans", "Arial", sans-serif;
  
  span {
    border-bottom: 1px dotted #fff;
  }
  
  &:hover span,
  &:active span {
    border-bottom: 1px solid #fff;
  }
}

.catalog__list {
  padding-right: 10px;
  
  &--top {
    padding-top: 60px;
    padding-left: 65px;
  }
  
  &--pr {
    margin-right: 215px;
  }
}

.catalog__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 28px;
  margin-top: 45px;
  background-color: @blue;
  
  .title-h3 {
    margin-top: 0;
    margin-bottom: 25px;
  }
}