.contacts {
  margin-bottom: 28px;
  
  &--company {
    margin-bottom: 45px;
  }
}

.contacts__map {
  width: 100%;
  height: 266px;
  margin-top: 40px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &--company {
    height: 341px;
  }
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  
  &--left {
    padding-left: 0;
    padding-top: 50px;
  }
}

.contacts__text {
  font-style: normal;
  line-height: 19px;
}

.contacts__info {
  padding-top: 20px;
  margin-top: 16px;
}

.contacts__link {
  display: block;
  font-weight: 700;
  font-style: normal;
  color: #000;
  
  &:last-of-type {
    margin-bottom: 16px;
  }
}

.contacts__block {
  font-style: normal;
  padding-right: 135px;
}

.contacts__address {
  margin-top: 0;
}