@media (max-width: 1200px) {
  .wrapper {
    width: ~"calc(100% - 40px)";
  }
  
  .brand {
    width: ~"calc(100% - 20px)";
  }
  
  .call__number {
    font-size: 16px;
  }
  
  .user {
    margin-right: 0;
  }
  
  .user__link--cart {
    margin-right: 20px;
  }
  
  .catalog__wrap {
    padding-right: 30px;
  }
  
  .service__wrap {
    width: 64%;
  }
  
  .service__block,
  .service__item {
    width: 48%;
    
    &--wide {
      width: 100%;
    }
    
    &--tall {
      width: 34%;
    }
  }
  
  .brief__field {
    &--wide {
      margin-top: 10px;
    }
  }
  
  .brief__select {
    margin-bottom: 10px;
  }
  
  .main {
    width: 740px;
  }
  
  .about__text {
    flex-wrap: wrap;
  }
  
  .about__wrap,
  .about__aside {
    width: 100%;
  }
  
  .history__block {
    padding-left: 100px;
    
    &::after {
      left: 45px;
    }
  }
  
  .projects__item {
    height: 260px;
  }
  
  .contacts__block {
    padding-right: 0;
  }
  
  .user__cart {
    transform: translateX(-40%);
  }
  
  .user__cart-wrap:hover .user__cart {
    display: none;
  }
  
  .user__open:checked ~ .user__cart {
    display: block;
  }
  
  .about__left,
  .about__right {
    width: 50%;
    padding-right: 10px;
  }
  
  .about__pic-2::before {
    right: 0;
  }
  
  .steps__block {
    &:nth-child(2) {
      padding-right: 0;
    }
  }
  
  .about__pic-3 {
    width: 265px;
  }
  
  .about__pic-4 {
    width: 212px;
  }
  
  .about__600-pr {
    max-width: 50%;
    padding-right: 0;
  }
  
  .about__blow,
  .about__635 {
    max-width: 60%;
    padding-right: 0;
  }
  
  .about__comment {
    margin-left: 20px;
  }
  
  .brief__order {
    padding-left: 20px;
    padding-right: 20px;
    
    .brief__input {
      width: 200px;
    }
    
    .brief__field {
      margin-right: 37px;
    }
  }
  
  .brief__area--order {
    width: 410px;
  }
  
  .warranty__block,
  .warranty__block:first-child {
    width: 100%;
    margin-bottom: 20px;
  }

  .technics__item--catalog {
    &:nth-child(3n),
    &:nth-child(17),
    &:nth-child(14),
    &:nth-child(11),
    &:nth-child(8),
    &:nth-child(5) {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .technics__item--right,
  .technics__item,
  .technics__item:nth-child(3n) {
    margin-right: auto;
    margin-left: auto;
  }
  
  .service__item--block {
    width: 32%;
  }
  
  .page404__block {
    &:first-of-type {
      top: 400px;
      left: 2%;
    }

    &:nth-of-type(2) {
      top: 80px;
    }

    &:nth-of-type(3) {
      top: 130px;
    }
  }
  
  .catalog__list {
    &--top {
      padding-left: 0;
    }
    
    &--pr {
      margin-right: 0;
    }
  }
  
  .technics__application {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  .group__item:hover .group__drop-wrap {
    display: none;
  }
  
  .group__check:checked ~ .group__drop-wrap {
    display: block;
  }

  .group__wrap {
    flex-wrap: wrap;
  }
  
  .group__field {
    margin-bottom: 20px;
  }
  
  .card__article {
    margin-right: 0;
  }
  
  .card__figure {
    margin-right: 20px;
  }
}

//----------------------------------
@media (max-width: 1000px) {
  .brief__form {
    padding: 20px;
  }
  
  .brief__wrap {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  
  .brief__select,
  .brief__input {
    margin-right: 0;
  }
  
  .brief__field {
    margin-right: 20px;
  }
  
  .brief__field-area {
    margin-left: auto;
    margin-right: auto;
  }
  
  .brief__btn {
    margin: auto;
    margin-top: 20px;
  }
  
  .title-h3 {
    font-size: 24px;
    line-height: 1.2;
    left: 15px;
  }
  
  .catalog__link {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  
  .header__top {
    flex-wrap: wrap;
  }
  
  .call {
    margin-left: auto;
  }
  
  .call__phone {
    margin-right: 20px;
  }
  
  .contacts__text {
    max-width: 200px;
    padding-right: 25px;
  }
  
  .contacts__info {
    padding-top: 0;
  }
  
  .contacts__wrap {
    align-items: baseline;
    padding-left: 0;
  }
  
  .menu {
    padding-right: 20px;
    position: relative;
  }
  
  .menu__btn {
    display: block;
  }
  
  .menu--closed {
    .menu__btn {
      background-image: url(../img/icon-menu-ham.svg);
    }
    
    .menu__list {
      display: none;
    }
  }
  
  .menu__list {
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    padding: 20px 40px 0 20px;
    background-color: #fff;
    z-index: 20;
  }
  
  .menu__arrow {
    right: -25px;
    cursor: pointer;
    transform: rotate(-90deg);
  }

  .menu__sublist-wrap {
    top: -20px;
    left: 200%;
    padding-top: 0;
  }

  .menu__sublist::after {
    top: 20px;
    left: -8px;
    transform: rotate(-45deg) translate(0);
  }
  
  .menu--opened {
    .menu__btn {
      background-image: url(../img/icon-menu-cross.svg);
    }
  
    .menu__list {
      display: flex;
    }
    
    .menu__item {
      margin-left: 0;
      margin-bottom: 20px;
      
      &:hover {
        .menu__sublist-wrap {
          display: none;
        }
      }
    }
    
    .menu__drop:checked ~ .menu__sublist-wrap {
      display: block;
    }
  }
  
  .sidebar {
    position: static;
    width: 100%;
  }
  
  .sidebar__sublist,
  .sidebar__list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .main {
    width: 100%;
  }
  
  .history__list .history__year,
  .history__list span {
    margin-right: 45px;
  }
  
  .steps__block {
    &:nth-child(2) {
      padding-left: 10px;
    }
  }
  
  .brief__area--order {
    width: 300px;
  }
  
  .brief__btn-order {
    margin-right: 37px;
  }
  
  .about__600-pr {
    max-width: 100%;
  }
  
  .about__pic-5 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  .about__caption--left {
    align-self: center;
  }
  
  .info__block {
    padding: 30px 40px 20px 40px;
  }
  
  .info__img {
    min-height: 320px;
  }
  
  .technics .title-h2 {
    font-size: 42px;
  }
  
  .technics__item {
    width: 300px;
  }
  
  .technics__title {
    font-size: 24px;
    max-width: 200px;
  }
  
  .service__item--block {
    height: 290px;
  }
  
  .page404__block {
    max-width: 120px;
    
    &:first-of-type {
      top: 320px;
      left: 0;
    }

    &:nth-of-type(2) {
      left: 28%;
    }

    &:nth-of-type(3) {
      top: 100px;
      right: 15%;
    }
  }
  
  .catalog__list--top {
    padding-top: 55px;
  }
  
  .case__item {
    flex-wrap: wrap;
  }
  
  .case__form {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .model__info {
    padding: 20px;
  }
  
  .card__item {
    width: 100%;
  }
  
  .card__title {
    flex-wrap: wrap;
    
    .title-h2 {
      width: 100%;
    }
  }
  
  .card__title-link {
    margin-left: 0;
    margin-right: 20px;
  }
  
  .card__figure {
    float: left;
  }
  
  .card {
    display: block;
  }
}

//-------------------------------------
@media (max-width: 766px) {
  .wrapper {
    width: ~"calc(100% - 20px)";
    min-width: 280px;
  }
  
  .user {
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .promo {
    min-height: 200px;
    padding-left: 20px;
    padding-top: 30px;
    margin-bottom: 40px;
  }
  
  .promo__h1 {
    font-size: 24px;
    line-height: 1.2;
  }
  
  .promo__link {
    right: 0;
    left: auto;
    top: 100%;
  }
  
  .promo__text {
    max-width: 250px;
  }
  
  .title-h2, h2 {
    font-size: 30px;
  }
  
  .title-h3 {
    font-size: 18px;
  }
  
  .catalog__wrap {
    flex-wrap: wrap;
  }
  
  .catalog__list {
    max-width: 50%;
  }
  
  .scheme,
  .about,
  .title__sub--service,
  .steps,
  .projects,
  .history,
  .brand,
  .brief,
  .service,
  .catalog {
    margin-bottom: 40px;
  }
  
  .brief__field-area,
  .brief__area {
    width: 100%;
  }
  
  .brief__content,
  .brief__wrap {
    justify-content: center;
    width: 420px;
  }
  
  .brief__content {
    margin-top: 10px;
  }
  
  .brief__field--wide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .service__item {
    height: 200px;
    
    &--tall {
      height: 415px;
    }
  }
  
  .service__img {
    min-height: 200px;
  }
  
  .service__img--tall {
    height: 415px;
  }
  
  .service__title {
    max-width: 160px;
  }
  
  .contacts__wrap {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .contacts__text {
    max-width: 100%;
    text-align: center;
  }
  
  .call {
    margin-right: auto;
  }
  
  .footer {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .footer__wrap {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer__copyright {
    display: block;
  }
  
  .footer__link {
    margin-left: 0;
  }
  
  .modal {
    border: 20px solid #fff;
  }
  
  .modal__title {
    font-size: 24px;
    line-height: 1.2;
  }
  
  .modal__content {
    width: 240px;
  }
  
  .modal__text,
  .modal__label {
    font-size: 12px;
    line-height: 1.2;
  }
  
  .about__figure {
    height: 235px;
    margin-bottom: 20px;
  }
  
  .projects__img,
  .about__img {
    min-width: 100%;
    min-height: 100%;
  }
  
  .title-h3-norm, h3 {
    font-size: 24px;
  }
  
  .history__block {
    margin-top: 0;
    padding-top: 50px;
    
    &::after {
      top: 65px;
      height: 800px;
    }
  }
  
  .history__list .history__year,
  .history__list span {
    font-size: 36px;
    margin-bottom: 212px;
  }
  
  .projects__text {
    max-width: 100%;
  }
  
  .facilities__item {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 10px;
    
    &:nth-child(3n),
    &:nth-child(3n+1) {
      justify-content: center;
    }
  }
  
  .contacts__block {
    width: 100%;
    text-align: center;
  }
  
  .user__list {
    min-width: 280px;
    width: 280px;
  }
  
  .user__cart {
    left: 0;
    transform: translateX(0);
  }
  
  .user__item {
    flex-wrap: wrap;
  }
  
  .user__wrap {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .user__total {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .about__left,
  .about__right {
    width: 100%;
  }
  
  .about__pic-4,
  .about__pic-2,
  .about__pic-1 {
    height: 285px;
    margin-bottom: 0;
    margin-top: 20px;
    padding-right: 0;
    justify-content: center;
  }
  
  .about__pic-3 {
    margin-bottom: 0;
    justify-content: center;
    
    img {
      margin-left: -70px;
    }
  }
  
  .about__pic-1::before,
  .about__pic-2::before,
  .about__pic-3::before, 
  .about__pic-4::before {
    height: 285px;
    width: 200px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .about__pic-4::after {
    right: 20%;
  }
  
  .about__caption {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  
  .steps__field {
    padding-left: 45px;
    
    a {
      font-size: 18px;
    }
  }
  
  .about__blow,
  .about__635 {
    max-width: none;
  }
  
  .about__call {
    width: auto;
  }
  
  .brief__btn-order {
    margin-right: 0;
    margin-left: 0;
  }
  
  .brief__btn-order {
    float: none;
  }
  
  .brief__btn-wrap {
    width: 100%;
    text-align: center;
  }
  
  .brief__order {
    padding-bottom: 20px;
  }
  
  .brief__select--wide,
  .brief__source--wide {
    width: 200px;
  }
  
  .warranty {
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  .scheme__block {
    margin-left: 0;
  }
  
  .service__text--right {
    text-align: left;
    left: 20px;
    right: auto;
  }
  
  .about__caption--left {
    margin-top: auto;
  }
  
  .about__pic-5::before {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .info__img {
    min-height: 200px;
    display: block;
  }
  
  .info__block {
    position: static;
    width: 100%;
  }
  
  .about__private .about__figure {
    margin-bottom: 40px;
  }
  
  .technics__item {
    width: 260px;
  }
  
  .technics .title-h2 {
    font-size: 24px;
  }
  
  .technics__list {
    margin-top: 20px;
  }
  
  .page404__block {    
    &:first-of-type {
      top: 270px;
      text-align: left;
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      top: 60px;
    }
  }
  
  .catalog__list--top {
    padding-top: 65px;
  }
  
  .case__text {
    width: 100%;
  }
  
  .case__figure {
    justify-content: center;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .group__search {
    padding: 20px;
    margin-top: 40px;
  }
  
  .card__figure {
    float: none;
    margin-bottom: 40px;
  }
  
  .card__item {
    width: 50%;
  }
  
  .card__article {
    width: 100%;
  }
  
  .model__info {
    line-height: 22px;
    font-size: 16px;
    height: auto;
  }
}

//-----------------------------------
@media (max-width: 480px) {
  .service__list {
    flex-wrap: wrap;
  }
  
  .service__block,
  .service__item,
  .service__wrap {
    width: 100%;
  }
  
  .service__block,
  .service__item {
    margin-bottom: 15px;
    
    &--tall {
      height: 200px;
    }
  }
  
  .service__block {
    height: 200px;
  }

  .catalog__list {
    max-width: 100%;
  }
  
  .brief__content,
  .brief__wrap {
    width: 240px;
    align-items: center;
  }
  
  .brief__field-area {
    margin-right: 0;
    width: 240px;
  }
  
  .menu__link {
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .menu__list {
    padding-left: 10px;
    padding-right: 20px;
  }
  
  .menu__arrow {
    right: -15px;
  }
  
  .menu__sublist {
    min-width: 130px;
    width: 130px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .menu__sublist-wrap {
    left: 185%;
  }
  
  .history__block {
    padding: 30px 20px;
    
    &::after {
      display: none;
    }
  }
  
  .history__list .history__item:last-child .history__year,
  .history__list .history__item:last-child span,
  .history__list .history__year,
  .history__list span {
    margin-bottom: 20px;
  }
  
  .history__item {
    flex-wrap: wrap;
  }
  
  .about__figure {
    height: 170px;
  }
  
  .about__wrap {
    text-align: left;
  }
  
  .about__logo {
    float: none;
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .steps__wrap {
    display: block;
  }
  
  .steps__block {
    width: 100%;
  }
  
  .about__pic-4::after {
    right: 0;
  }
  
  .about__comment {
    margin-left: 0;
    float: none;
  }
  
  .steps__contacts--order {
    flex-wrap: wrap;
    
    .steps__field {
      width: 100%;
    }
  }
  
  .warranty__item {
    span {
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
    }
    
    p {
      width: 200px;
    }
  }
  
  .scheme__label {
    font-size: 14px;
    
    &--1 {
      top: 50px;
      right: 0;
    }
    
    &--2 {
      top: 80px;
      right: 50px;
    }
    
    &--3 {
      top: 150px;
      right: 50px;
      
      &::before {
        left: auto;
        right: -28px;
      }
    }
    
    &--4 {
      top: 180px;
      right: 50px;
      
      &::before {
        left: auto;
        right: -28px;
      }
    }
    
    &--5 {
      bottom: 30px;
      right: auto;
      left: 160px;
    }
    
    &--6 {
      bottom: 100px;
      left: 90px;
    }
    
    &--7 {
      top: 210px;
      left: 60px;
    }
    
    &--8 {
      top: 20px;
      left: 120px;
    }
  }
  
  .scheme__wrap {
    flex-wrap: wrap;
  }
  
  .scheme__details {
    margin-top: 20px;
  }
  
  .about__pic-5 {
    height: 330px;
    margin-top: 0;
  }
  
  .about__pic-5::before {
    width: 280px;
    height: 285px;
  }
  
  .about__private .title-h3-norm {
    font-size: 20px;
    line-height: 1.2;
  }
  
  .service__related {
    flex-wrap: wrap;
  }
  
  .page404__block {
    display: none;
  }
  
  .page404 {
    padding-top: 40px;
    
    .title-h2 {
      margin-top: 40px;
      font-size: 24px;
    }
  }
  
  .page404__text {
    font-size: 20px;
  }
  
  .catalog__main {
    flex-wrap: wrap;
  }
  
  .catalog__list--top {
    padding-top: 0;
    margin-bottom: 20px;
  }
  
  #slider-range {
    width: 100%;
  }
  
  .group__title {
    display: block;
  }
  
  .case__item {
    padding: 20px;
  }
  
  .case__line {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .case__total-wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .case__btn {
    margin-right: auto;
    margin-top: 20px;
  }
  
  .case__hold {
    margin-left: auto;
  }
  
  .case__model span {
    right: 0;
  }
  
  .case__name {
    margin-bottom: 10px;
  }
  
  .case__sum {
    width: 100%;
    text-align: center;
  }
  
  .card__item {
    width: 100%;
  }
  
  .model {
    display: block;
    margin-bottom: 40px;
  }
  
  .model__figure,
  .model__info {
    width: 100%;
  }
  
  .card__figure {
    width: 260px;
  }
  
  .card__final-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card__final {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

//-------------------------------------
@media (orientation: landscape) {
  .modal {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}