.service {
  margin-bottom: 70px;
  
  &--app {
    margin-bottom: 83px;
  }
  
  &--about {
    margin-bottom: 93px;
  }
  
  &--related {
    margin-bottom: 33px;
  }
}

.service__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 390px;
  height: 290px;
  
  &--wide {
    width: 100%;
  }
  
  &--tall {
    height: 595px;
  }
  
  &--bottom {
    margin-top: auto;
  }
  
  &--bottom-app {
    height: 216px;
    margin-top: auto;
  }
  
  &--application {
    height: 368px;
  }
  
  &--block {
    height: 368px;
  }
  
  &:hover,
  &:active {
    outline: 6px solid @blue;
    outline-offset: -6px;
    transition: ease-out 0.3s;
  }
}

.service__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.service__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 795px;
  
  &--about {
    width: 647px;
  }
}

.service__title {
  max-width: 250px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 30px;
  letter-spacing: 1px;
}

.service__img {
  display: block;
  max-width: none;
  min-width: 100%;
  min-height: 290px;
  
  &--wide {
    width: 795px;
    height: auto;
  }
  
  &--tall {
    height: 595px;
    width: auto;
  }
  
  &--application {
    height: 368px;
    width: auto;
  }
  
  &--block {
    min-height: 100%;
  }
}

.service__h2 {
  margin-bottom: 35px;
}

.service__block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 317px;
  height: 300px;
  
  &--wide {
    width: 100%;
    margin-top: auto;
  }
  
  &--tall {
    height: 611px;
  }
  
  &:hover,
  &:active {
    outline: 6px solid @blue;
    outline-offset: -6px;
    transition: ease-out 0.3s;
  }
}

.service__pic {
  display: block;
  max-width: none;
  min-width: 100%;
  min-height: 300px;
  
  &--wide {
    width: 647px;
    height: auto;
  }
  
  &--tall {
    height: 611px;
    width: auto;
  }
}

.service__text {
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 20px;
  max-width: 250px;
  
  .service__title {
    position: static;
    margin-bottom: 10px;
  }
  
  &--right {
    left: auto;
    right: 20px;
    text-align: right;
  }
}

.service__related {
  display: flex;
  justify-content: space-between;
}