h2,
.title-h2 {
  font-size: 52px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 18px;
  letter-spacing: 2px;
}

.title-h3 {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
  
  span {
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
  }
}

h3,
.title-h3-norm {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.title__sub {
  max-width: 650px;
  margin-top: 30px;
  
  &--wide {
    max-width: none;
    margin: 0;
  }
  
  &--service {
    max-width: 755px;
    margin-bottom: 50px;
  }
  
  a {
    color: @blue;
    border-bottom: 1px solid @blue;
    margin-left: 12px;
    
    &:hover,
    &:active {
      border-bottom: 1px dotted @blue;
    }
  }
}