.user {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.user__link {
  display: block;
  color: #000;
  padding-left: 35px;
  position: relative;
  
  span {
    border-bottom: 1px dotted @blue;
  }
  
  &:hover span,
  &:active span {
    border-bottom: 1px solid @blue;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  &--cart {
    margin-right: 70px;
    
    &::before {
      background-image: url(../img/icon-cart.png);
    }
  }
  
  &--login::before {
    background-image: url(../img/icon-padlock.png);
  }
}